@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
@font-face
{
	font-family:Admirationpains;
	src:url("Admirationpains.ttf");
}
body
{
	font-family: lucida sans;
}
.sections
{
	padding: 20px 0;
}
.overlay
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.5);
}
header
{
	height: auto;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	z-index: 999;
}
header i.icon
{
	position: absolute;
	right: 30px;
	top: 34px;
	z-index: 10;
	display: none;
	color: red;
}
header .logo h1
{
	font-size: 35px;
	color: #fff;
	font-family: Admirationspains;
}
header .logo h3
{
	font-size: 25px;
	color:green;
}
header nav ul
{
	list-style: none;
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 0;
}
header nav ul .list a
{
	display: block;
	padding: 15px 0;
	margin: 9px 0;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	color: #fff;
}
header nav .nav-list .list a:hover
{
	color: #7cb62f;
}
header nav .nav-list .dropdown-menu  
{
	display: none;
}
header nav .nav-list li:hover > .dropdown-menu 
{
	display: block;
	position: static;
	background: black;
	text-align: center;
}
@media (max-width: 575px)
{
	header nav .nav-list
	{
		display: none;
		text-align: center;
		padding: 0;
	}
	header .logo
	{
		text-align: center;
	}
	header i.icon
	{
		display: block;
	}
}
.home
{
	height: 800px;
	background-image: url(bg3.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
}
.home .card
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 75%;
	height: 300px;
	background: ghostwhite;
	border-radius: 70% / 70%: 
}
.home .home-title
{
	color: darkred;
	font-size: 40px;                                                                
	margin-top: 50px;
	margin-bottom: 90px;
}
.home .card .row
{
	justify-content: center;
}
.home .card a
{	
	width: 300px;
	text-align: center;
	cursor: pointer;
	margin: 20px 20px ; 
    display:block;
    font-family:sans-serif;
    font-weight: bold;
    border-radius: 5px;
 	font-size: 20px;
}
.home .card a:hover
{
	background-color:rgba(0,0,0,1);
    cursor:pointer;
    text-decoration: underline;
}
.alert
{
	font-size: x-large;
}
